    <main>
        <div class="container">
            
            <h1>Gerenciar Projetos</h1>

            <div class="msg_erro">
                <h1>Mensagem de Erro</h1>
            </div>

            
        <table id="lista-posts">
            
            <tr>
                <th>id</th>
                <th>nome do projeto</th>
                <th>cliente</th>
                <th>data</th>
                <th>url</th>
                <th colspan="2">ação</th>
            </tr>
            {{#each projDados}}
            <tr>
                
                <td>{{this.id}}</td>
                <td>{{this.titulo}}</td>
                
                <td>{{this.cliente}}</td>
                <td>{{this.data}}</td>
                <td><a href="{{this.url}}">{{this.url}}</a></td>
                <td><a href="/editar/{{this.id}}">editar</a></td> 
                <td>
                    <form action="/excluir/{{this.id}}" method="post">
                        <input type="submit" value="excluir">
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>

        </div>
    </main>